/* Custom minimum version badge */
/* <a title="Minimum version" class="badge" href="../../about/changelog#2.1.0">:material-tag-outline: **v2.1.0**</a> */

html {
    --terminal-red: #920611;
    --terminal-green: #097905;
    --terminal-yellow: #836900;
    --terminal-blue: #0d2261;
    --terminal-magenta: #53055e;
    --terminal-cyan: #186aa8;
}

html:has(body[data-md-color-scheme="slate"]) {
    --terminal-red: #f38992;
    --terminal-green: #8ef089;
    --terminal-yellow: #F9F1A5;
    --terminal-blue: #7ea7ff;
    --terminal-magenta: #f181e4;
    --terminal-cyan: #8fecec;
}

.badge {
    background-color: #526cfe1a;
    padding: 4px;
    border-radius: 5px;
    font-size: .85em;
    transition: background-color 0.3s !important;
}

.badge:hover {
    background-color: #526cfe3a;
    transition: background-color 0.3s !important;
}

@media (min-width: 960px) {
    form.md-search__form {
        border-radius: 500px !important;
    }

    div.md-search__scrollwrap, div.md-search__output {
        border-radius: 15px !important;
    }

    div.md-search__output {
        margin-top: 8px;
    }

    div.md-header__source {
        margin-left: 16px !important;
    }
}

div.md-search__scrollwrap {
    scrollbar-width: initial;
}

div.md-header__title {
    margin-left: 8px !important;
}

.version-testing {
    color: #d1880a;
}

[data-md-color-scheme="slate"] .version-testing {
    color: #ffde79;
}

.version-latest {
    color: var(--md-typeset-a-color);
}

::selection {
    background-color: #4051b57f;
}

body {
    transition: background-color 0.3s, scrollbar-color 0.3s;
}

.md-typeset table:not([class]), .md-typeset .admonition {
    background: none !important;
    border-radius: 15px;
}

p.admonition-title {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.md-typeset code {
    border-radius: 5px;
}

.md-typeset pre > code {
    border-radius: 15px;
    border: 1px solid var(--md-typeset-table-color);
    clip-path: inset(-0.5px round 15px);
}

@media screen and (max-width: 44.9844em) {
    .md-content__inner > .highlight > .filename, .md-content__inner > .highlight > .highlighttable > tbody > tr > .code > div > pre > code, .md-content__inner > .highlight > .highlighttable > tbody > tr > .filename span.filename, .md-content__inner > .highlight > .highlighttable > tbody > tr > .linenos, .md-content__inner > .highlight > pre > code {
        border-radius: 15px !important;
        margin-left: 16px;
        margin-right: 16px;
    }

    .md-clipboard {
        right: 1.7em !important;
    }
}

img.rounded, video {
    border-radius: 15px;
    border: 1px solid var(--md-typeset-table-color);
}

div.md-tooltip, div.md-tooltip2__inner {
    border-radius: 5px !important;
    color: #ffffffde !important;
    background-color: #1E2129 !important;
}

[data-md-color-scheme="slate"] div.md-tooltip, [data-md-color-scheme="slate"] div.md-tooltip2__inner {
    color: #000000de !important;
    background-color: #FFFFFF !important;
}

[data-md-color-scheme="default"] div, [data-md-color-scheme="default"] code {
    scrollbar-color: #ADADAD transparent !important;
}

[data-md-color-scheme="slate"] div, [data-md-color-scheme="slate"] code {
    scrollbar-color: #5c5c5c transparent !important;
}

html:has(body[data-md-color-scheme="default"]) {
    scrollbar-color: #9e9e9e #e7e7e7;
}

html:has(body[data-md-color-scheme="slate"]) {
    scrollbar-color: #5c5c5c #252525;
}

@media screen and (min-width: 60em) {
    .md-search__overlay {
        cursor: auto !important;
    }
}

.md-header.md-header, .md-footer, .md-footer-meta {
    transition: background-color 0.3s, border-color 0.3s !important;
}

[data-md-color-scheme="slate"] .md-header.md-header {
    background-color: #171717;
    border-bottom: 1px solid #FFFFFF0F;
    box-shadow: none;
    padding: 2px;
}

[data-md-color-scheme="slate"] .md-nav__source {
    background-color: #171717;
}

[data-md-color-scheme="default"] .md-header.md-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #00000015;
    box-shadow: none;
    padding: 2px;
}

[data-md-color-scheme="default"] .md-nav__source {
    background-color: #f0f0f0 !important;
}

@media (max-width: 1220px) {
    [data-md-color-scheme="slate"] .md-nav__title {
        background-color: #171717 !important;
    }

    [data-md-color-scheme="default"] .md-nav__title {
        background-color: #f0f0f0 !important;
    }
}

.md-nav--secondary .md-nav__title {
    background-color: transparent !important;
    box-shadow: none;
}

@media (min-width: 1220px) {
    .md-nav--primary .md-nav__title {
        display: none !important;
    }

    li.md-nav__item.md-nav__item--section.md-nav__item--nested {
        margin-top: 0px !important;
    }
}

.md-logo img {
    border-radius: 0px !important;
}

[data-md-color-scheme="default"] {
    .md-footer * {
        color: #000000;
    }

    .md-footer {
        background-color: #DEDEDE;
        border-top: 1px solid #0000001F;
    }

    .md-footer-meta {
        background-color: #E9E9E9;
    }

    --md-typeset-a-color: #002468 !important;
    --md-accent-fg-color: #002468 !important;
}

[data-md-color-scheme="slate"] {
    .md-footer * {
        color: #FFFFFF;
    }

    .md-footer {
        border-top: 1px solid #FFFFFF15;
    }

    --md-default-fg-color: hsla(var(--md-hue), 0%, 87%, 0.82);
    --md-default-fg-color--light: hsla(var(--md-hue), 0%, 87%, 0.56);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 0%, 87%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 0%, 87%, 0.12);

    --md-default-bg-color: hsla(var(--md-hue), 0%, 11%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 0%, 11%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 0%, 11%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 0%, 11%, 0.07);

    --md-code-fg-color: hsla(var(--md-hue), 0%, 83%, 0.82);
    --md-code-bg-color: hsla(var(--md-hue), 0%, 15%, 1);

    --md-footer-bg-color: hsla(var(--md-hue), 0%, 7%, 0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue), 0%, 5%, 1);

    --md-typeset-a-color: #8bb4ff !important;
    --md-accent-fg-color: #8bb4ff !important;
}

.md-footer-meta a {
    color: var(--md-typeset-a-color) !important;
    transition: opacity 0.3s;
}

.md-footer-meta a:hover {
    opacity: 0.6;
}

.md-nav__link--active {
    font-weight: 700;
}

.button {
    background-color: var(--md-accent-fg-color);
    border-radius: 100px;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.3s !important;
}

.button:hover {
    opacity: 0.9;
}

.button:active {
    opacity: 0.7;
}

[data-md-color-scheme="default"] .button {
    color: #FFFFFF !important;
}

[data-md-color-scheme="slate"] .button {
    color: #000000 !important;
}